<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emrehmrc.argememory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".popup.STaskManPopup"
            android:theme="@style/TaskMans" />
        <activity android:name=".activity.VolleyDemo">

        </activity>

        <service android:name=".services.NotificationServices" />

        <activity android:name=".activity.FtpUpload" />
        <activity android:name=".activity.FileActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/CustomNoActionBar">


        </activity>
        <activity android:name=".activity.ShareActivity" />
        <activity android:name=".popup.DepartmentPopup" />
        <activity android:name=".popup.PersonelPopup" />
        <activity
            android:name=".activity.ShareTabActivity"
            android:label="@string/title_activity_share_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".popup.TagPopup" />
        <activity android:name=".activity.ShowAllShareActivity" />
        <activity
            android:name=".popup.ShareMemberPopup"
            android:theme="@style/TaskMans" />
        <activity
            android:name=".popup.ShareTagPopup"
            android:theme="@style/TaskMans" />
        <activity android:name=".activity.NavDrawerActivity" />
        <activity android:name=".activity.MainActivityNavDrawer" />
        <activity
            android:name=".popup.CrashPopup"
            android:theme="@style/CustomNoActionBar" />
        <activity
            android:name=".popup.CommentPopup"
            android:theme="@style/CustomNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".activity.SLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SMainActivityNavDrawer">

        </activity>
    </application>

</manifest>