<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emrehmrc.argememory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconz"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".popup.STaskManPopup"
            android:theme="@style/TaskMans" />
        <activity android:name=".activity.VolleyDemo"></activity>

        <service android:name=".services.NotificationServices" />

        <activity android:name=".activity.UploadActivity"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/CustomNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SShareActivity" />
        <activity android:name=".popup.SDepartmentPopup" />
        <activity android:name=".popup.SPersonelPopup" />
        <activity android:name=".popup.STagPopup" />
        <activity android:name=".activity.SShowAllShareActivity" />
        <activity
            android:name=".popup.SShareMemberPopup"
            android:theme="@style/TaskMans" />
        <activity
            android:name=".popup.SShareTagPopup"
            android:theme="@style/TaskMans" />
        <activity android:name=".activity.SMainActivityNavDrawer"></activity>
        <activity
            android:name=".popup.SCrashPopup"
            android:theme="@style/CustomNoActionBar" />
        <activity
            android:name=".popup.SCommentPopup"
            android:theme="@style/CustomNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.SLoginActivity"></activity>
        <activity android:name=".activity.ProfileActivity"></activity>
    </application>

</manifest>